body{
    background: #a8f990;
}
.areaLight{
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    user-select: none;
    background-image: conic-gradient(from 90deg at 70% 50%, white, #215e0f),
    conic-gradient(from 270deg at 30% 50%, #215e0f, white);
    -webkit-mask-image: radial-gradient(100% 50% at center center, rgb(0, 0, 0), transparent);
    background-position-x: 0%, 100%;
    background-position-y: 0%, 0%;
    background-size: 50% 100%, 50% 100%;
    transform: rotate(180deg) translate3d(0,0,0);
    transform-origin: center center;
    background-repeat: no-repeat;
}
